<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600" rel="stylesheet" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" xintegrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <!-- Flatpickr CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

        <title>Budget Tracker</title>
    </head>
    <body>
        <!--  Sidebar   -->
        <button class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-layout-sidebar-inset" viewBox="0 0 16 16">
              <path d="M14 2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1zM2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2z"/>
              <path d="M3 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1z"/>
            </svg>
        </button>

        <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Books</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                The current link item
              </a>
              <a href="#" class="list-group-item list-group-item-action">A second link item</a>
              <a href="#" class="list-group-item list-group-item-action">A third link item</a>
              <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
              <a class="list-group-item list-group-item-action disabled">A disabled link item</a>
            </div>
          </div>
        </div>

        <!--  Sidebar   -->
        <a href="{{ url_for('logout') }}">
            <img  class="logout-link" src="static/logout-icon.png" alt="Logout">
        </a>

        <!--  Total Income and Expense for the Month   -->
        <div class="top">
            <div class="budget">
                <div class="budget__title">
                    Available Budget in <span class="budget__title--month">{{ month }}</span>:
                </div>

                <div class="budget__value">
                    {% if total_income - total_expenses >= 0 %}
                        +
                    {% endif %}
                    {{ "%.2f"|format(total_income - total_expenses) }}
                </div>

                <div class="budget__income clearfix">
                    <div class="budget__income--text">Income</div>
                    <div class="right">
                        <div class="budget__income--value">+ {{ "%.2f"|format(total_income) }}</div>
                        <div class="budget__income--percentage">&nbsp;</div>
                    </div>
                </div>

                <div class="budget__expenses clearfix">
                    <div class="budget__expenses--text">Expenses</div>
                    <div class="right clearfix">
                        <div class="budget__expenses--value">- {{ "%.2f"|format(total_expenses) }}</div>
                        <div class="budget__expenses--percentage">{{ total_exp_percent }}%</div>
                    </div>
                </div>
            </div>
        </div>


        <!--  Breakdown of Income(s) and Expense(s)   -->
        <div class="bottom">
            <div class="add">
                <div class="add__container">
                    <form method="POST" action="{{ url_for('tracker') }}">
                        <div class="d-flex align-items-center flex-wrap gap-2">
                            <!-- DATE PICKER  -->
                            <div class="date-container input-group">
                              <input type="text" name="date" id="datepicker" class="form-control" placeholder="Select date" readonly required/>
                              <button type="button" class="btn btn-outline-secondary" id="open-datepicker">
                                <!-- calendar icon -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-calendar-event" viewBox="0 0 16 16">
                                  <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
                                  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                                </svg>
                              </button>
                            </div>

                            <input type="text" class="add__description" name="description" placeholder="Add description" required>
                            <input type="number" step="0.01" class="add__value" name="amount" placeholder="Value" required>
                            <select class="add_method" name="method">
                                <option value="Account">Account</option>
                                <option value="Cash">Cash</option>
                                <option value="Card">Card</option>
                                <option value="Other">Other</option>
                            </select>
                            <button type="submit" name="action" value="income" class="btn btn-outline-success">Income</button>
                            <div class="vr"></div>
                            <button type="submit" name="action" value="expense" class="btn btn-outline-danger">Expense</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="container clearfix">
                <div class="income">
                    <h2 class="income__title">Income</h2>
                    <div class="income__list">
                        <form method="POST" action="{{ url_for('tracker') }}">
                            {% for inc in income %}
                            <div class="item clearfix" id="income-{{ inc.id }}">
                                <div class="item__description">{{ inc['description'] }}</div>
                                <div class="right clearfix">
                                    <div class="item__value">+ {{ "%.2f"|format(inc['amount']) }}</div>
                                    <div class="button-container" style="display: flex; gap: 7px;">
                                        <!--EDIT BUTTON-->
                                        <div class="item__delete">
                                            <input type="hidden" name="item_id" value="{{ inc['id'] }}">
                                            <button class="item__delete--btn" type="submit" name="action"
                                                    value="edit_income">
                                                <i class="ion-ios-close-outline">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                                                </svg>
                                                </i>
                                            </button>
                                        </div>
                                       <!-- DELETE BUTTON -->
                                        <div class="item__delete">
                                            <input type="hidden" name="item_id" value="{{ inc['id'] }}">
                                            <button class="item__delete--btn" type="submit" name="action"
                                                    value="delete_income">
                                                <i class="ion-ios-close-outline">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                                </svg>
                                                </i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </form>
                    </div>
                </div>



                <div class="expenses">
                    <h2 class="expenses__title">Expenses</h2>
                    <div class="expenses__list">
                        {% for exp in expense %}
                        <div class="item clearfix" id="expense-{{ exp['id'] }}">
                            <div class="item__description">{{ exp['description'] }}</div>
                            <div class="right clearfix">
                                <div class="item__value">- {{ "%.2f"|format(exp['amount']) }}</div>
                                {% set percentage = (exp['amount'] / total_income * 100) if total_income > 0 else 0 %}
                                <div class="item__percentage">
                                  {% if percentage < 1 and percentage > 0 %}
                                    &lt;1%
                                  {% else %}
                                    {{ percentage | round(0) | int }}%
                                  {% endif %}
                                </div>
                                <div class="button-container" style="display: flex; gap: 7px;">
                                    <div class="item__delete">
                                        <form method="POST" action="{{ url_for('tracker') }}" style="display: inline;">
                                            <input type="hidden" name="item_id" value="{{ exp['id'] }}">
                                            <button class="item__delete--btn" type="submit" name="action"
                                                    value="edit_expense">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                                                </svg>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="item__delete">
                                        <form method="POST" action="{{ url_for('tracker') }}" style="display: inline;">
                                            <input type="hidden" name="item_id" value="{{ exp['id'] }}">
                                            <button class="item__delete--btn" type="submit" name="action" value="delete_expense">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                                </svg>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Flatpickr JS -->
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script>
          const datepickerInput = document.getElementById('datepicker');
          const picker = flatpickr(datepickerInput, {
            dateFormat: "Y-m-d",
            allowInput: true,
            defaultDate: "today"
          });

          document.getElementById('open-datepicker').addEventListener('click', () => {
            picker.open();
          });
        </script>

    </body>
</html>
